.App {
  text-align: center;
}

.pokemon-logo {
     height: 140px;
     width: auto;
}

.header {
  background-color: #0082ce;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-content {
     flex-direction: column;
     align-items: center;
     justify-content: center;
     /* font-size: calc(10px + 2vmin); */
     /* color: white; */
}

.pokemon-searchbar {
     padding-top: 10px;
}

.divTable {
     display: table;
     max-width: 20em;
     float: right;
     display: flex;
     align-items: center;
}

.divTableRow {
     display: table-row;
     padding-bottom: 10px;
}

.divTableHeading {
     background-color: #eee;
     display: table-header-group;
     font-weight: bold;
}

.divTableCell,
.divTableHead {
     border: 1px solid #99999;
     display: table-cell;
     padding: 3px 10px;
}

.divTableFooter{
     background-color: #eee;
     display: table-footer-group;
     font-weight: bold;
}

.divTableBody {
     display: table-row-group;
}

.divTableCell:nth-child(1n){
     background-color: gainsboro;
}

.container {
     display: flex;
     opacity: 0.9;
     background-color: #99aaab;
     justify-content: center;
}

.img {
     height: 26rem;
     width: auto;
}

input {
     box-sizing: border-box;
     font-size: 2rem;
     padding: 1rem;
     display: block;
     margin: 2rem auto;
}

body {
     height: 100%;
     background: url("./assets/pokemon-wallpaper.jpg");
     background-size: cover;
     background-repeat: no-repeat;
}

/* ===========

  STANDARD Create-React-App CSS

=============== */
